body {
    background-color: rgb(131, 119, 119)
}

a {
    color: #CDCDCD;
}

a:hover {
    color: #CDCDCD;
}

form {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 17%;
}

#notif {
    margin-bottom: 10px;
    height: 100px;
    width: 100%;
    border-radius: 5px;
}

#buttons {
    text-align: right;
}

#submit:hover {
    background-color: #99D3DF;
    color: white;
}